#with python v3.11.13
numpy==2.3.0 #numpy==1.23.4
pandas==2.3.0
matplotlib==3.10.3
seaborn==0.13.2
plotly==6.1.2
scikit-learn==1.7.0
llama-stack==0.2.10.1
transformers==4.52.4
torch==2.7.1
evaluate==0.4.3
langdetect==1.0.9 #not using this
fasttext-langdetect==1.0.5
#fast-langdetect==0.1.0 #might stop using this
accelerate==1.8.1
peft
